---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Kevin & Sophie | May 30, 2026">
  <Navigation currentPage="home" />
  <main class="page-content">
    <Hero />
  </main>
  <Footer />
</Layout>
